{{#if posts.length}}
<section class="mt-8">
  <h2 class="text-xl font-bold py-4 px-6 text-gray-700">Your Posts</h2>
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    {{#each posts as |post|}}
      {{> dashboard-posts post}}
    {{/each}}
  </div>
</section>
{{/if}}

<div class="flex justify-end mt-8">
  <a href="/dashboard/new" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition-colors duration-200 mr-8">+ New Post</a>
</div>

<script src="/js/add-post.js"></script>
  