<main class="container mx-auto my-8 px-4 bg-gray-100">
  <div class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Login</h2>

    <form class="form login-form">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="user-login">Username: </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="user-login" placeholder="Username">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="password-login">Password: </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" id="password-login" placeholder="Password">
      </div>
      <div class="flex items-center justify-between">
        <button id="login-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>

  <div>
    <h2 class="text-2xl font-bold mb-4">Signup</h2>

    <form class="form signup-form">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="user-signup">Username: </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="username-signup" placeholder="Username">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="password-signup">Password: </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" id="password-signup" placeholder="Password">
      </div>
      <div class="flex items-center justify-between">
        <button id="signup-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline focus:shadow-outline" type="submit">
          Signup
        </button>
      </div>
    </form>
  </div>
</main>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>