<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="block font-medium text-sm text-gray-700 mb-1">Title</label>
        <input type="text" id="title" name="post-title" class="form-input mb-4 py-2 px-3 rounded-md shadow-sm border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />

        <label for="content" class="block font-medium text-sm text-gray-700 mb-1">Content</label>
        <textarea id="content" name="content" class="form-input mb-4 py-2 px-3 rounded-md shadow-sm border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"></textarea>

        <button type="submit" id="new-post-btn" class="btn bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Create</button>
    </form>
</div>

<script src="/js/add-delete-edit-post.js"></script>
