{{> posts-info post}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label for="comment" class="block font-medium text-gray-700 mb-2">Comment</label>
        <input id="comment" name="comment-body" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />

        <button type="submit" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">Submit</button>
    </form>
</div>
{{/if}}


{{> comments post.comments}}

{{#if loggedIn}}
<script src="/jv/comment.js"></script>
{{/if}}
